/* Write your CSS here */
.home-route-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .home-route-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.teams-list-container {
  width: 90%;
  max-width: 600px;
}
@media screen and (min-width: 768px) {
  .teams-list-container {
    max-width: 1110px;
  }
}
.ipl-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  width: 25px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 96px;
  }
}
.heading {
  color: white;
  font-family: bree-serif;
  font-size: 36px;
  margin-left: 12px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 72px;
    margin-left: 16px;
  }
}
.loader-container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}
.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
